* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 13px;
  background-color: #ecf2f8;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-template-areas:
    "Daniel Daniel Jonathan Kira"
    "Jeantette Patrick Patrick Kira ";
  position: relative;
  top: 100px;
  margin: 0 75px 0 75px;
}

.grid-item-1 {
  background-image: url("../images/bg-pattern-quotation.svg");
  background-position: 80% 0;
  background-repeat: no-repeat;
  background-color: hsl(263, 55%, 52%);
  place-self: stretch;
  grid-area: Daniel;
}

.grid-item-2 {
  grid-area: Jonathan;
  background-color: hsl(217, 19%, 35%);
}

.grid-item-3 {
  grid-area: Kira;
  background-color: hsl(0, 0%, 100%);
}

.grid-item-4 {
  grid-area: Patrick;
  background-color: hsl(219, 29%, 14%);
}

.grid-item-5 {
  grid-area: Jeantette;
  background-color: hsl(0, 0%, 100%);
}

.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4,
.grid-item-5 {
  border-radius: 15px;
  padding: 30px;
}

figcaption {
  position: relative;
  left: 70px;
  bottom: 60px;
}

figcaption p {
  font-size: 0.9em;
  color: hsl(0, 0%, 81%);
}

img {
  border-radius: 50px;
  border: 1px solid white;
}

.daniel,
.jonathan,
.patrick {
  color: hsl(0, 0%, 100%);
}

.speech-title {
  position: relative;
  bottom: 20px;
  font-size: 1.4rem;
}

.speech-main {
  font-size: 1.2em;
  color: hsl(0, 0%, 81%);
}

/* Footer */
.footer {
  position: relative;
  left: 0;
  top: 131px;
  width: 100%;
  color: purple;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

@media only screen and (max-width: 1105px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "Daniel Patrick"
      "Jonathan Jeantette"
      "Kira Kira";
    gap: 2em;
    padding: 2em;
    align-items: unset;
  }
}

@media only screen and (max-width: 625px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
  }
}